* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: futura-pt, sans-serif;
}

html,body {
    background-color: #ffffff;
    overflow-x: hidden;
    height:100%;
    scroll-behavior: smooth;
}

.navbar {
    background: rgba(9, 239, 142, .14);
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index:999;
}

.navbar__container{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

#navbar__logo{
    /* background-color: #5C2466; */
    height: 45%;
    width: auto;
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    display:flex;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 0; 
    /* transform: translateX(-70px); */
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style:none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: rgb(104, 104, 104);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 400;
    padding: 0 1rem;
    height: 100%;
}



.navbar__links:hover {
    color:#09EF8E;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        /* padding-left: 50px; */
    }
    #navbar__logo{
        margin-left:30px;
        width: 2rem;
        height: 2rem;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #fff;
    }
    
    .navbar__menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 2px;
        margin: 6px auto;
        transition: all 0.3s ease-out;
        background:rgb(104, 104, 104);
    }

    .navbar__item {
        width: 100%;
    }

    .nav__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main {
    background-color: #fff;
    height: auto;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    position: relative;
}

.fitmo__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fitmo__title {
    width: 60vh;
    height: auto;
    margin: 60px;
}

#previous, #next {
    width: 70px;
    height: 70px;
}

.fitmo__text {
    font-weight: 100;
    width: 70%;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.note {
    margin: 50px 20%;
    line-height: 1.5;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button, .casebutton {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    height: auto;
    width: auto;
    border: none; 
    outline: none;
    border-radius: 10px;   
    background-color: #09EF8E;
    color:#fff;
    margin: 10px 20px;
}

.button:hover {
    background: #0ccf7e;
    transition: all 0.3s ease;
}

.casebutton:hover {
    background: #0ccf7e;
    transition: all 0.3s ease;
}

/* Animation */
@keyframes smoothin_bottom {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes smoothin_top {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation End */

.community {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#community, #yoga{
    display: flex;
    justify-content: center;
    width: 20%;
    height: auto;
    margin: 10px;
    animation: smoothin_top 3s forwards;
}

#challenges, #badge {
    display: flex;
    justify-content: center;
    width: 20%;
    height: auto;
    margin: 10px;
    animation: smoothin_bottom 3s forwards;
}



@media screen and (max-width: 960px){
    .fitmo__title {
        width: 60%;
        height: auto;
        margin: 40px;
    }
}

@media screen and (max-width: 480px){
    .community {
    display: grid;
    grid-template-columns: auto auto;  
    column-gap: auto;
    justify-self: center;
    justify-items: center;
    align-items: center;
    margin: 10px;
    margin-bottom: 50px;
    }
    #community, #challenges, #yoga, #badge{  
    width: 50%;
    height: auto;
    }
    #community, #yoga {
        margin-left: 60px;
    }
    #challenges, #badge {
        margin-right: 60px;
    }

    .buttons {
        display: grid;
        grid-template-columns: auto;
    }

    #previous, #next {
    width: 30px;
    height: 30px;
    margin: 0;
    }
    #fitmo__title {
    width: 60vh;
    height: auto;
    margin: 10px;
    }
}


/* Footer */

.footer__container {
    background-color: rgba(9, 239, 142, 1);
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 0;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
    margin-left: 60px;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items >h2 {
    color: #ffffff;
}

.footer__link--items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: rgb(14, 97, 58);
    transition: 0.3s ease-out;
}

/* Social Icons*/

.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 15px;
    cursor: pointer;
    text-decoration: none;
    font-style: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .footer__links {
        flex-direction: column;
    }

    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
